@tailwind base;
@tailwind components;
.container{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px auto;
    align-items: center;
    padding: 20px;
}
.container1{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px auto;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

@tailwind utilities;